body {
  background-color: grey
}
table {
  width: 600px;
}
th {
  text-align: middle;
  background-color: lightgreen;
}
td{
  background-color: white;
}
h2, th, td, h3, h4, h5, h6, h7, h8 {
  border: 1px black;
  border-collapse: collapse;
  font-size: 12px;
}
h1{
  text-align: center;
}
