body {
  background: url(https://media.istockphoto.com/photos/old-grunge-dark-textured-wooden-backgroundthe-surface-of-the-old-picture-id868991924?k=6&m=868991924&s=612x612&w=0&h=2EThO5SQdqKD8InvtYk2E8x9hma1yYtZTClrrrMe5Yw=)
}
table {
  width: 600px;
  font-size: 15px;
}
th {
  text-align: middle;
  background-color: orange;
}
td{
  background-color: white;
}
div{
  border: 1px black;
  border-collapse: collapse;
  font-size: 12px;
}
h1{
  text-align: center;
}
th,td{
  padding: 15px;
}
p{
  font-size: 10px;
  color: white
}
h1{
  font-size: 30px;
  color: white
}
h2{
  font-size: 30px;
  color: white
}
nav{
  font-size: 25px;
  color: white
}
a{
  color: white;
}
.row{
  display: flex;
}
.row .col{
  width: 50%;
}
@media all and (max-width:1220px) {
  .row {
    display: block;
    width: 100%;
  }
  .row .col {
    width:100%;
  }
}
